.settings
.project

tm-entities/target
tm-entities/.settings
tm-entities/.project
tm-entities/.classpath

tm-data/target
tm-data/.settings
tm-data/.project
tm-data/.classpath

tm-services/target
tm-services/.settings
tm-services/.project
tm-services/.classpath

tm-web/target
tm-web/.settings
tm-web/.project
tm-web/.classpath